{% extends 'test_app/base.html' %}
{% block left %}
    <div>
        <h3>Loaded Environment Settings</h3>
        {% if loaded_env_names %}
            <table>
                <tr>
                    <th>Environment Name</th>
                    <th>Auto Reload</th>
                </tr>
                {% for env in loaded_env_names %}
                    <tr>
                        <td><a href="{% url 'loaded_show_detail' env %}">{{ env }}</a></td>
                        <td>True</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>No environments loaded.</p>
        {% endif %}
    </div>
{% endblock %}

{% block right %}
    <div>
        {% include 'test_app/detail.html' %}
    </div>
{%  endblock %}