{% extends 'test_app/base.html' %}
{% block left %}
    <div>
        <h3>Registered Environment Settings</h3>

        {% if registered_env_details %}
            <table>
                <tr>
                    <th>Environment Name</th>
                    <th>Auto Reload</th>
                    <th>Loaded</th>
                </tr>
                {% for env, auto_load in registered_env_details %}
                    <tr>
                        <td><a href="{% url 'registered_show_detail' env %}">{{ env }}</a></td>
                        <td>{{ auto_load }}</td>
                        {% if env in loaded_env_names %}
                            <td>True</td>
                        {% else %}
                            <td>False</td>
                        {% endif %}
                    </tr>

                {% endfor %}
            </table>
        {% else %}
            <p>No environments registered.</p>
        {% endif %}
    </div>
{% endblock %}

{% block right %}
    <div>
        {% include 'test_app/detail.html' %}
    </div>
{% endblock %}

