{% load static %}
<head>
    <link rel="shortcut icon" type="image/png" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Secrets Manager Prototype</title>
    <link rel="stylesheet" type="text/css" href="{% static 'secrets_viewer/style.css' %}">
</head>
<body>
<div id="navbar">
    <h3>Secrets Manager Prototype</h3>
    <ul>
        <li class={{ registered_page }}><a href="{% url 'registered' %}">View All Registered Environment Settings</a></li>
        <li class={{ deployed_page }}><a href="{% url 'deployed' %}">View Deployed Environment Settings</a></li>
    </ul>
</div>
<div id="content">
{% if loaded_env_names %}
    <div id="left">
        {% block left %}{% endblock %}
    </div>
{% endif %}
    {% if display_details %}
        <div id="right">
            {% block right %}{% endblock %}
        </div>

    {% endif %}
</div>

</body>