{% extends 'secrets_viewer/base.html' %}
{% load static %}
{% block left %}
    <div>
        <h5>Click on a row to view corresponding settings:</h5>

        {% if registered_env_details %}
            <table class="registered">
                <thead>
                <tr>
                    <th>Environment Name</th>
                    <th>Secrets Type</th>
                    <th>Loaded?</th>
                    <th>Auto_Reload?</th>
                    <th>Is_Base?</th>
                    <th>Is_Deployed?</th>
                </tr>
                </thead>
                <tbody>
                {% for env, auto_load, type in registered_env_details %}
                    {% if env == env_name %}
                        <tr class="active" onclick="location.href='{% url 'registered_show_detail' env %}'">
                            {% else %}
                        <tr onclick="location.href='{% url 'registered_show_detail' env %}'">
                    {% endif %}

                    <td>{{ env }}</td>
                    <td>{{ type }}</td>

                    {% if env in loaded_env_names %}
                        <td>True</td>
                    {% else %}
                        <td>False</td>
                    {% endif %}
                    <td>{{ auto_load }}</td>
                    {% if env is base_env_name %}
                        <td>True</td>
                    {% else %}
                        <td>False</td>
                    {% endif %}
                    {% if env == deployed_env_name %}
                        <td>True</td>
                    {% elif env == base_env_name %}
                        <td>Base</td>
                    {% else %}
                        <td>False</td>
                    {% endif %}
                    </tr>

                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No environments registered.</p>
        {% endif %}
    </div>
{% endblock %}

{% block right %}
    <div>
        {% include 'secrets_viewer/detail.html' %}
    </div>
{% endblock %}

